<footer class="py-5 border-top border-3 bg-gradient bg-opacity-50 bg-dark">
  <div class="container">
    <div class="row">
      <!-- Disclaimer -->
      <div class="col-12 text-center mb-4">
        <p class="fw-light p-1 text-light">
          By using this website, you agree to our Terms of Service. You are solely responsible for any copyright
          violations or misuse of this website.
        </p>
      </div>

      <!-- Navigation Links -->
      <div class="col-12 text-center mb-4">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-7 g-3 justify-content-center">
          <div class="col">
            <a class="nav-link link-light text-decoration-none" href="/about">About</a>
          </div>
          <div class="col">
            <a class="nav-link link-light text-decoration-none" href="/frequently-asked-questions">FAQ</a>
          </div>
          <div class="col">
            <a class="nav-link link-light text-decoration-none" href="/terms-of-service">Terms of Service</a>
          </div>
          <div class="col">
            <a class="nav-link link-light text-decoration-none" href="/privacy-policy">Privacy Policy</a>
          </div>
          <div class="col">
            <a class="nav-link link-light text-decoration-none" href="/contact-us">Contact Us</a>
          </div>
          <div class="col">
            <a class="nav-link link-light text-decoration-none" href="https://kitabisa.com/">Donate</a>
          </div>
          <div class="col">
            <a class="nav-link link-light text-decoration-none" href="/login">Login</a>
          </div>
          <div class="col">
            <a target="_blank" class="nav-link link-light text-decoration-none" href="https://github.com/yt-dlp/yt-dlp">Yt-dlp</a>
          </div>
        </div>
      </div>

      <!-- Copyright -->
      <div class="col-12 text-center">
        <small class="text-muted">
          &copy; 2025 <span class="fw-bold">YTDLPGUI</span>. All rights reserved.
        </small>
      </div>
    </div>
  </div>
</footer>