<header class="navbar nav bg-white py-3 border-bottom border-3 ">
  <div class="row d-flex col-12">

    <!-- Logo -->
    <div class="col-2 d-flex flex-row fs-3 ms-3" onclick="location.href = '/'">
      <span class="fw-bolder text-black d-inline">
        YTDLP
      </span>
      <span class="fw-bold text-muted  d-inline">
        GUI
      </span>
    </div>

    


  </div>
</header>