<!DOCTYPE html>
<html lang="en" bs-theme="dark">
<%- include('../partials/head.ejs') %>
<body>

  <%- include('../partials/navbar-top.ejs') %>

  <main class="min-vh-100 mt-3 mb-3" >
    <div class="container p-4">
          <%- body %>
    </div>


  </main>

  <%- include('../partials/footer.ejs') %>

  <script src="/js/bootstrap.js"></script>
  <script src="//cdn.jsdelivr.net/npm/eruda"></script>
<script>eruda.init();</script>
</body>
</html>