<!-- title -->
<div class="">
  <h1 class="fs-4">
    Whats for?
  </h1>
  <p class="fs-6 fw-normal ">
    This website provide you a structured <a target="_blank" class="link" href="https://github.com/yt-dlp/yt-dlp">
      yt-dlp tool
    </a>that is wrapped into a website view for ease of use
  </p>
</div>

<div class="container mt-5">
  <h2 class="fs-5">
    Trial use
  </h2>
  <p class="fs-6">
    Free trial, download YouTube, TikTok, Facebook videos!
  </p>
  <form id="download-free-trial" class="hidden" type="hidden">
  </form>
  <div class="input-group mb-3">

    <input pattern="*(https)" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

    <button type="button" class="btn btn-dark">download</button>
  </div>
</div>


<div class="container mt-5">
  <h2 class="fs-5">
    Unlimited use
  </h2>
  <p class="fs-6">
    For unlimited use, register an account or login and enjoy the services we provide.
  </p>
  <form id="download-free-trial" class="hidden" type="hidden">
  </form>
  <div class="d-flex mb-3 gap-1 justify-content-evenly">

    <button type="button" class="btn btn-dark col-4">register</button>

    <button type="button" class="btn btn-dark col-4">login</button>
  </div>


</div>